Every year, American high school students take SATs, which are standardized tests intended to measure literacy, numeracy, and writing skills. There are three sections - reading, math, and writing, each with a **maximum score of 800 points**. These tests are extremely important for students and colleges, as they play a pivotal role in the admissions process.

Analyzing the performance of schools is important for a variety of stakeholders, including policy and education professionals, researchers, government, and even parents considering which school their children should attend. 

The dataset is `schools.csv` previewed below

Project task: Answer the following three key questions about New York City (NYC) public school SAT performance.

 1. Find schools with the best math scores 
 2. Identify the top 10 performing schools 
 3. Find out which borough has the most significant standard deviation in SAT performance

In [39]:
# Import pandas library 
import pandas as pd

# Read in the data
schools = pd.read_csv("schools.csv")

# Preview the data
schools.head()

                                         school_name  ... percent_tested
0  New Explorations into Science, Technology and ...  ...            NaN
1                               Essex Street Academy  ...           78.9
2                       Lower Manhattan Arts Academy  ...           65.1
3    High School for Dual Language and Asian Studies  ...           95.9
4      Henry Street School for International Studies  ...           59.7

[5 rows x 7 columns]

In [40]:
# Q1. Find NYC schools have the best math results
# The best math results are at least 80% of the *maximum possible score of 800* for math

best_math_result = (800 * 80) / 100

# Create a list of boroughs in NYC 
nyc_boroughs = ['Manhattan', 'Brooklyn', 'Queens', 'Bronx', 'Staten Island']

# Find schools in NYC where ave math > = 640 and sort by descending order 
best_math_schools  = schools[(schools['borough'].isin(nyc_boroughs)) & (schools['average_math'] >= 640)] [['school_name', 'average_math']].sort_values(by='average_math', ascending = False )

best_math_schools

                                           school_name  average_math
88                              Stuyvesant High School           754
170                       Bronx High School of Science           714
93                 Staten Island Technical High School           711
365  Queens High School for the Sciences at York Co...           701
68   High School for Mathematics, Science, and Engi...           683
280                     Brooklyn Technical High School           682
333                        Townsend Harris High School           680
174  High School of American Studies at Lehman College           669
0    New Explorations into Science, Technology and ...           657
45                       Eleanor Roosevelt High School           641

In [41]:
#Q2. The top 10 performing schools based on the combined SAT scores

schools['total_SAT'] = schools['average_math'] + schools['average_reading'] + schools['average_writing']

top_10_schools = schools.sort_values(by ='total_SAT', ascending= False).head(10) [['school_name', 'total_SAT']]
top_10_schools

                                           school_name  total_SAT
88                              Stuyvesant High School       2144
170                       Bronx High School of Science       2041
93                 Staten Island Technical High School       2041
174  High School of American Studies at Lehman College       2013
333                        Townsend Harris High School       1981
365  Queens High School for the Sciences at York Co...       1947
5                       Bard High School Early College       1914
280                     Brooklyn Technical High School       1896
45                       Eleanor Roosevelt High School       1889
68   High School for Mathematics, Science, and Engi...       1889

In [42]:
#Q3. Which single borough has the largest standard deviation in the combined SAT score? 

nyc_boroughs = ['Manhattan', 'Brooklyn', 'Queens', 'Bronx', 'Staten Island']

# Create a list to hold the results
results = []

# Loop through each NYC borough to calculate statistics
for borough in nyc_boroughs:
    # Filter the DataFrame for the current borough
    borough_data = schools[schools['borough'] == borough]
    
    # Check if there are any schools in the borough
    if borough_data.empty:
        continue  # Skip to the next borough if no schools are found
    
    # Calculate statistics
    num_schools = borough_data['school_name'].count()
    average_SAT = borough_data['total_SAT'].mean()
    std_SAT = borough_data['total_SAT'].std()
    
    # Append results to the list
    results.append({
        'borough': borough,
        'num_schools': num_schools,
        'average_SAT': round(average_SAT, 2),
        'std_SAT': round(std_SAT, 2)
    })

# Create a DataFrame from the results
borough_stats = pd.DataFrame(results)

# Find the borough with the largest standard deviation
largest_std_dev_borough = borough_stats.loc[borough_stats['std_SAT'].idxmax()]

# Create a DataFrame with the required information
largest_std_dev = pd.DataFrame({
    'borough': [largest_std_dev_borough['borough']],
    'num_schools': [largest_std_dev_borough['num_schools']],
    'average_SAT': [largest_std_dev_borough['average_SAT']],
    'std_SAT': [largest_std_dev_borough['std_SAT']]
})

# Display the result
largest_std_dev

     borough  num_schools  average_SAT  std_SAT
0  Manhattan           89      1340.13   230.29